<script setup>
import Loader from "~/components/Loader.vue"
import Table from "~/components/Table.vue"

import {
  useFetch
} from "~/composables"

const {
  data,
  error,
  loading,
  refetch
} = useFetch("/api/v1/cars")
</script>

<template>
  <h1>
    Автомобили

    <RouterLink class="button" to="/cars/new">
      Добавить автомобиль
    </RouterLink>
  </h1>

  <Loader
    :error
    :loading
    :refetch
  >
    <Table>
      <thead>
        <tr>
          <th>#</th>
          <th>Марка</th>
          <th>Модель</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="item in data">
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.brand }}</td>
            <td>{{ item.model }}</td>
          </tr>
        </template>
      </tbody>
    </Table>
  </Loader>
</template>
