<script setup>
import { ref } from "vue"
import { useRouter } from "vue-router"

import http from "~/http"

const router = useRouter()

const brand = ref(null)
const model = ref(null)

async function handleSubmit() {
  try {
    await http.post("/api/v1/cars", {
      brand: brand.value,
      model: model.value
    })

    router.replace("/cars")
  } catch (error) {
    console.error(error)

    alert(error.response.data)
  }
}
</script>

<template>
  <h1>
    Добавить автомобиль
  </h1>

  <form @submit.prevent="handleSubmit">
    <div>
      <label>
        Марка:
      </label>
      <input class="input" type="text" v-model="brand" required />
    </div>

    <div>
      <label>
        Модель:
      </label>
      <input class="input" type="text" v-model="model" required />
    </div>

    <button class="button">
      Добавить
    </button>
  </form>
</template>
