<script setup>
import Loader from "~/components/Loader.vue"
import Table from "~/components/Table.vue"

import {
  useFetch
} from "~/composables"

const {
  data,
  error,
  loading,
  refetch
} = useFetch("/api/v1/shops")
</script>

<template>
  <h1>
    Магазины

    <RouterLink class="button" to="/shops/new">
      Добавить магазин
    </RouterLink>
  </h1>

  <Loader
    :error
    :loading
    :refetch
  >
    <Table>
      <thead>
        <tr>
          <th>#</th>
          <th>Название</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="item in data">
          <tr>
            <td>{{ item.id }}</td>
            <td>
              <RouterLink :to="`/shops/${item.id}`">
                {{ item.name }}
              </RouterLink>
            </td>
          </tr>
        </template>
      </tbody>
    </Table>

    <div class="hint">
      Нажмите на название магазина, чтобы открыть форму добавления автомобиля.
    </div>
  </Loader>
</template>

<style scoped lang="scss">
.hint {
  margin-top: 1rem;
}
</style>
