<script setup>
import { ref } from "vue"
import { useRouter } from "vue-router"

import http from "~/http"

const router = useRouter()

const name = ref(null)
const phone = ref(null)

async function handleSubmit() {
  try {
    await http.post("/api/v1/shops", {
      name: name.value,
      phone: phone.value
    })

    router.replace("/shops")
  } catch (error) {
    console.error(error)

    alert(error.response.data)
  }
}
</script>

<template>
  <h1>
    Добавить магазин
  </h1>

  <form @submit.prevent="handleSubmit">
    <div>
      <label>
        Название:
      </label>
      <input class="input" type="text" v-model="name" required />
    </div>

    <div>
      <label>
        Номер телефона:
      </label>
      <input class="input" type="text" v-model="phone" required />
    </div>

    <button class="button">
      Добавить
    </button>
  </form>
</template>
