<script setup>
import { ref } from "vue"
import { useRoute } from "vue-router"

import Loader from "~/components/Loader.vue"
import Table from "~/components/Table.vue"

import { useFetch } from "~/composables"

import http from "~/http"

const route = useRoute()

const car = ref(null)
const price = ref(null)

const {
  data: cars,
  refetch: refetchCars
} = useFetch("/api/v1/cars")

const {
  data: shop,
  error,
  loading,
  refetch
} = useFetch(`/api/v1/shops/${route.params.id}`)

const {
  data: shopCars,
  refetch: refetchShopCars
} = useFetch(`/api/v1/shops/${route.params.id}/cars`)

async function handleSubmit() {
  try {
    await http.post(`/api/v1/shops/${route.params.id}/cars`, {
      car: car.value,
      price: price.value
    })

    refetchShopCars()
  } catch (error) {
    console.error(error)

    alert(error.response.data)
  }
}
</script>

<template>
  <Loader
    :error
    :loading
    :refetch
  >
    <h1>
      {{ shop.name }}
    </h1>

    <form @submit.prevent="handleSubmit">
      <div>
        <label>
          Автомобиль:
        </label>
        <select class="input" v-model="car">
          <template v-for="car in cars">
            <option :value="car.id">
              {{ car.brand }}
              {{ car.model }}
            </option>
          </template>
        </select>
      </div>

      <div>
        <label>
          Цена:
        </label>
        <input class="input" type="number" v-model="price" required />
      </div>

      <button class="button">
        Добавить
      </button>
    </form>

    <hr />

    <Table>
      <thead>
        <tr>
          <th>#</th>
          <th>Марка</th>
          <th>Модель</th>
          <th>Стоимость</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="shopCar in shopCars">
          <tr>
            <td>{{ shopCar.id }}</td>
            <td>{{ shopCar.brand }}</td>
            <td>{{ shopCar.model }}</td>
            <td>{{ shopCar.price }}</td>
          </tr>
        </template>
      </tbody>
    </Table>
  </Loader>
</template>
