<script setup>
import Loader from "~/components/Loader.vue"
import Table from "~/components/Table.vue"

import {
  useFetch
} from "~/composables"

const {
  data,
  error,
  loading,
  refetch
} = useFetch("/api/v1/brands")
</script>

<template>
  <h1>
    Бренды

    <RouterLink class="button" to="/brands/new">
      Добавить бренд
    </RouterLink>
  </h1>

  <Loader
    :error
    :loading
    :refetch
  >
    <Table>
      <thead>
        <tr>
          <th>#</th>
          <th>Название</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="item in data">
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
          </tr>
        </template>
      </tbody>
    </Table>
  </Loader>
</template>
