.button {
  background-color: var(--black-color);
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white-color);
  text-decoration: none;
  line-height: 3rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 1rem;
  border: 0;
}
