.header {
  background-color: var(--gray-color);
  border-bottom: 2px solid var(--black-color);

  nav {
    display: flex;
    gap: 1rem;

    a {
      border-radius: 4px;
      text-decoration: none;
      padding: 0.5rem;

      &:hover, &.router-link-active {
        background-color: var(--white-color);
      }
    }
  }
}
