// Хоть в документе и было сказано что запрещается использовать
// какие-либо CSS фреймворки, всё же, технически это не является
// фреймворком, а посему можно использовать (наверное).
@import "reseter.css";

@import "@fontsource/inter";
@import "@fontsource/montserrat";

:root {
  --black-color: #000000;
  --gray-color: #e1e1e1;
  --white-color: #ffffff;
}

html,
body {
  font-family: "Inter";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat";
}

a {
  color: var(--black-color);
}

hr {
  margin: 1rem 0;
}

@import "./components/button";
@import "./components/header";
@import "./components/input";
@import "./components/table";

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 1rem;
}
