<template>
  <div class="header">
    <div class="container">
      <nav>
        <RouterLink to="/">
          Главная
        </RouterLink>
        <RouterLink to="/brands">
          Бренды
        </RouterLink>
        <RouterLink to="/cars">
          Автомобили
        </RouterLink>
        <RouterLink to="/shops">
          Магазины
        </RouterLink>
      </nav>
    </div>
  </div>
</template>
