<script setup>
defineProps({
  error: {
    type: Object,
    required: true
  },
  loading: {
    type: Boolean,
    required: true
  },
  refetch: {
    type: Function,
    required: true
  }
})
</script>

<template>
  <template v-if="!loading">
    <template v-if="!error">
      <slot />
    </template>
    <template v-else>
      Не удалось загрузить данные.

      <a href="#" @click.prevent="refetch">
        Повторить?
      </a>
    </template>
  </template>
  <template v-else>
    Загрузка данных...
  </template>
</template>
